:root {
  --primary-color: #002147;
  --secondary-color: #fdc800;
  --dark-color: #202439;
  --light-color: #f6f6f6;
  --light-dark-color: #878787;
}

body {
  font-size: 1.4rem;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.4rem;
}

ul {
  margin: 15px 0px;
}

li {
  display: inline;
  list-style: none;
  overflow: hidden;
}

.fa,
.far,
.fas {
  color: var(--secondary-color);
}

.color--main {
  color: var(--primary-color);
}

.bgcolor--main {
  background-color: var(--primary-color);
}

.color--secondary {
  color: var(--secondary-color);
}

.bgcolor--secondary {
  background-color: var(--secondary-color);
}

.color--dark {
  color: var(--dark-color);
}

.color--light {
  color: var(--light-color);
}

.p--main {
  color: var(--light-dark-color);
  line-height: 30px;
}

.btn--main {
  font-size: 1.2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--main:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.578);
          box-shadow: 4px 4px 20px rgba(128, 128, 128, 0.578);
}

/*Header section*/
#header .info {
  background-color: var(--primary-color);
}

#header .info .container a {
  color: white;
}

#header .info .info__left,
#header .info .info__right {
  padding: 15px 20px;
}

#header .info {
  background-color: var(--primary-color);
}

#header .info .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .info .info__left .info__item {
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .info .info__left .info__item a {
  padding-left: 5px;
}

#header .info .info__right {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#header .info .info__right a {
  color: var(--primary-color);
}

#header .container .logo {
  padding: 10px 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#header .container .logo i {
  padding: 12px;
  margin-right: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

#header .container .nav-bar a {
  padding: 10px 15px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header .container .nav-bar a:hover {
  border-radius: 10px;
  background-color: var(--light-color);
}

#header .container .nav-bar li a.active {
  color: var(--secondary-color);
}

/*End Header section*/
/* Carousel section */
#carousel {
  height: 120vh;
}

#carousel .carousel__image {
  position: relative;
  height: 75vh;
  background-image: url(../images/2.jpg);
  background-size: cover;
}

#carousel .carousel__image:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00214751;
  top: 0;
}

#carousel .container {
  position: relative;
}

#carousel .container .carousel__list {
  position: absolute;
  bottom: 100px;
}

#carousel .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

#carousel .carousel__item .item__content {
  background-color: white;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 20px rgba(76, 76, 76, 0.265);
          box-shadow: 0px 0px 20px rgba(76, 76, 76, 0.265);
}

#carousel .carousel__item .item__content .icon,
#carousel .carousel__item .item__content .title,
#carousel .carousel__item .item__content .content {
  margin-bottom: 30px;
}

/* End Carousel section */
/* Campus section */
#campus {
  margin-bottom: 200px;
}

#campus .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  gap: 15px;
}

#campus .campus__content {
  padding: 0px 20px;
  height: 100%;
}

#campus .campus__image img {
  width: 100%;
  border-radius: 0px 5px 5px 0px;
}

/* End Campus section */


/* Testimonials section */
#testimonials .flex {
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#testimonials .testi__number {
  background-color: var(--light-color);
}

#testimonials .testi__number .testi__number__item {
  margin-right: 100px;
}

#testimonials .testi__number .testi__number__item p {
  color: #1e1e1e;
}

#testimonials .testi__number .testi__number__item .number {
  margin-right: 20px;
}

#testimonials .testi__content {
  color: white;
  position: relative;
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-position-y: -250px;
  z-index: 1;
}

#testimonials .testi__content ::after {
  position: absolute;
  content: "";
  background-color: #00214718;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*Post*/
.blogs--border {
  padding: 30px 0px;
  margin: 0px 25px;
}

#blogs {
  background-color: var(--light-color);
}

#blogs .container {
  height: 110vh;
  padding: 100px 0px;
}

#blogs .container.grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 80px;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

#blogs .post__lists .grid {
  -ms-grid-columns: 32% auto;
      grid-template-columns: 32% auto;
  gap: 25px;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

#blogs .post__lists {
  background-color: white;
}

#blogs .post__lists .post__item {
  border-bottom: 1px solid #ebebeb;
}

#blogs .post__lists > :last-child {
  border-bottom: none;
}

#blogs .post__item .item__image img {
  width: 100%;
}

#blogs .post__item .item__details {
  position: relative;
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*&:after {
    position: absolute;
    content: "";
    background-color: rgb(235, 235, 235);
    top: 0;
    right: 0;
    height: 0;
    width: 4px;
    transition: 0.3s;
  }*/
}

#blogs .post__item .item__details:hover {
  -webkit-box-shadow: 20px 0px 20px rgba(235, 235, 235, 0.625);
          box-shadow: 20px 0px 20px rgba(235, 235, 235, 0.625);
}

/*#blogs .post__item .item__details:hover {
  &::after {
    height: 100%;
  }
}
*/
#blogs .post__item .item__details #blogs .post__item .item__details a {
  font-size: 1.4rem;
}

#blogs .post__item .item__details .details__date {
  color: #c7c7c7;
}

#blogs .item__details .details__title,
#blogs .item__details .details__date,
#blogs .item__details .details__content {
  margin-bottom: 10px;
}

#blogs .blogs__posts .post__cta {
  text-align: right;
}

#blogs .events__schedules .grid {
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#blogs .events__schedules .schedules__item {
  padding: 25px 0px;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

#blogs .events__schedules .schedule__lists {
  background-color: white;
}

#blogs .schedule__calendar .calendar__date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px 5px 0px 0px;
}

#blogs .schedule__calendar .calendar__year {
  color: white;
  border-radius: 0px 0px 5px 5px;
}

#footer .container {
  padding: 30px 0px;
  color: white;
}

#footer .footer__content {
  padding: 30px 0px;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  border-bottom: 1.5px solid rgba(83, 83, 83, 0.653);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#footer .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

#footer .content__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer li {
  display: block;
}

#footer .links__nav a:hover,
#footer .features__nav a:hover {
  text-decoration: underline;
}

#footer .content__item a {
  color: var(--light-color);
}

#footer .footer__copyright {
  padding: 45px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer__copyright a {
  padding-right: 20px;
}

/* End Footer section */
/*# sourceMappingURL=main.css.map */